* { 
  box-sizing: border-box; 
}

body { 
  font-family: sans-serif; 
}

.container {
	width: 1200px;
	text-align: center;
}

.carousel-cell {
  width: 100%;
  height: 250px;
  background-size: cover;
}